body {
    background-color: white;
    color: #212121;
    margin: 0 auto 0 auto;
    width: 600px;
}

div#header {
    border-bottom: 2px solid black;
    margin-bottom: 30px;
    padding: 12px 0px 12px 0px;
}

div#logo a {
    color: black;
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

div#header #navigation {
    text-align: right;
}

div#header #navigation a {
    color: black;
    font-size: 1.1em;
    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

div#footer {
    border-top: solid 2px black;
    color: #555;
    font-size: 0.8em;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

h1, h2, h3, h4 {
    color: black;
}

h1 {
    font-size: 1.8em;
    text-align: center;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1em;
    margin-bottom: 0.5em;
}

p {
    margin-top: 0.5em;
}

div.info {
    color: #555;
    font-size: 0.9em;;
    font-style: italic;
}

pre {
    margin-left: 1.5em;
}

mlabeledtr > mtd:first-child {
    display: table-cell;
}

ul code, p code, span.dt {
  color: #311B92;
}

ul code, p code {
  display: inline-block;
  margin: 0 0.2em;
}

a code {
  text-decoration: underline;
}

span.fu, span.ot {
  color: #9C27B0;
}

span.kw {
  color: #4CAF50;
}

span.st {
  color: #FF5722;
}

span.co {
  color: #616161;
}

pre {
  color: black;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  margin: auto;
}

th {
  border: 1px solid black;
}

td {
  border-right: 1px solid black;
  padding-left: 0.5em;
}

td + td {
  text-align: right;
  padding-right: 0.5em;
}
